<html lang="en-US">
  <head>
    <title>Quaternions</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/jquery.terminal/js/jquery.terminal.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/jquery.terminal/css/jquery.terminal.min.css"/>
    <style>
      .box {
        height: 400px;
        width: 700px;
        padding: 10px;
        margin: 0;
        border: 1px solid #aaa;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }
    </style>
  </head>

  <body>
    <div id='terminal' class="box">
      <script>
        $('#terminal').terminal(function(command) {
          this.echo(command)
        }, {
          greetings: 'Quaternion Calculator',
          height: 400,
          width: 700
        });
      </script>
    </div>
  </body>

</html>
